/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 abr 2022, 22:29:39
    Author     : Cambralla
*/

#buttonAcceder{
     -fx-background-color: #232626;
     -fx-border-radius:50px;
     -fx-background-radius:50px;
     
}

#buttonAcceder:hover{
    -fx-background-color:#107d17;
    -fx-cursor:hand;
}


.button{
    -fx-background-color: #232626;
    -fx-border-radius:50px;
    -fx-background-radius:50px;
}

#buttonAutorizar{
    -fx-background-color: #232626;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
}

.button:hover{
    -fx-background-color:#107d17;
    -fx-cursor:hand;
}

#buttonAutorizar:hover{
    -fx-background-color:#107d17;
    -fx-cursor:hand;
}

.field{
    -fx-border-color:#232626;
    -fx-border-width:1px;
    -fx-border-style: solid;
    -fx-background-color:#379bcc;
    -fx-text-fill:white;
    
}

.vista{
    
    -fx-border-color:#232626;
    -fx-border-width:1px;
    -fx-border-style: solid;
    
}


.info{
    -fx-border-color:#ed8013;
    -fx-border-width:1px;
    -fx-border-style: solid;
}

.progreso{
    -fx-border-color:#1472a8;
    -fx-border-width:2px;
    -fx-border-style: solid;
}

